@use 'base/variables' as v;
@use 'base/mixins' as m;

.bloque4 {
    background-color: v.$primario;
    display: flex;
    justify-content: center;
}

.bloque4__container {
    height: 8rem;
    width: 92%;
    // background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    @include m.desktop_1020 {
        height: 11rem;
    }
    @include m.desktop_1280 {
        height: 14rem;
    }
    a {
        height: 5rem;
        border-radius: 1rem;
        background-color: white;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        color: v.$fondo_form2;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24rem;
        font-size: 1.9rem;
        @include m.desktop_1020 {
            height: 6rem;
            width: 32rem;
            font-size: 2.2rem;
        }
        @include m.desktop_1280 {
            height: 7rem;
            width: 40rem;
            font-size: 2.8rem;
        }
    }
}