@use 'base/variables' as v;
@use 'base/mixins' as m;

footer {
    background-color: black;
    height: auto;
    width: 100%;
    display: flex;
    padding: 3rem 0;
    justify-content: center;
}

.footer__container {
    height: auto;
    width: 93%;
    // background-color: yellow;
    display: grid;
    row-gap: .5rem;
    @include m.desktop_1020 {
        width: 85%;
    }
    @include m.desktop_1360 {
        width: v.$max-width-1360;
    }
}

.footerRight {
    @include m.desktop_1020 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.footerRight__logo {
    height: 6rem;
    // background-color: green;
    text-align: center;
    @include m.desktop_1020 {
        text-align: start;
    }
    img {
        height: 100%;
        @include m.desktop_1020 {
            height: auto;
            width: 28rem;
        }
    }
}

.footerRight__direction {
    height: 3rem;
    // background-color: blue;
    margin-top: 1rem;   
    @include m.desktop_1280 {
        height: 5rem;
    }
    h3 {
        text-align: center;
        margin: 0;
        font-weight: 600;
        color: white;
        line-height: 1.5;
        font-size: 1.3rem;
        @include m.desktop_1020 {
            text-align: right;
        }
        @include m.desktop_1280 {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 1.8rem;
        }
    }
}

.footerLeft__normas {
    margin-top:2rem;
    @include m.desktop_1280 {
        margin-top: 5rem;
    }
    h3 {
        font-size: 1.2rem;
        margin: 0;
        color: gray;
        text-align: center;
        font-weight: 600;
        @include m.phone_360 {
            padding: 0 3rem;
        }
        @include m.desktop_1280 {
            font-size: 1.8rem;
        }
    }
}